@page "/CodeBehind"
@inherits SimpleButton3.Pages.CodeBehind

@namespace Microsoft.AspNetCore.Components.Web

<h3>Buttonクリック＆MouseMoveサンプル(codebehind)</h3>
<div>
    <button class="" @onclick="@( e=> messageText = $"ボタンがクリックされました。({DateTime.Now.ToString()})")">Button1</button>
    <p>@messageText</p>
</div>
<div @onmousemove="MouseMove"
     @onclick="DivClick"
     style="border: 1px solid skyblue; height:200px;">
    <p style="position:absolute;top:@(_top)px;left:@(_left)px">onclick(@_left,@_top)</p>
</div>
<button @onclick="@ClickReturn">戻る</button>

