@page "/"
@namespace Microsoft.AspNetCore.Components.Routing

<h3>Index</h3>

<ul>
    <li><NavLink href="ButtonClick">ButtonClick</NavLink></li>
    <li><NavLink href="CodeBehind">CodeBehind</NavLink></li>
</ul>