@page
@namespace TextBoxApp4.Pages
<!DOCTYPE html>
<html lang="ja">
<heed></heed>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
