<span style="border:solid 1px gray; padding:2px; color:@textColor;">@text</span>
@code {
    [Parameter]
    public string text { get; set; }

    [Parameter]
    public string textColor { get; set; }

}